@use './styles/abstract/colors' as *;
@use './styles/abstract/fonts' as *;
@import './styles/abstract/functions';

@import './styles/base/base';

header{
    background: url(/images/bg-hero-mobile.svg), linear-gradient($button-text 50%,$button-text 0%);
    background-position: center 5%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
    padding: 25px 15px;
    margin-bottom: 20px;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        img{
            width: 105px;
        }

        .try-it-free{
            background-color: hsl(0, 0%, 100%);
            border: none;
            padding: 5px 25px;
            border-radius: 15px;
            box-shadow: 0 3px 10px 0 rgba($color: #000000, $alpha: 0.1);
            font-size: 10px;
            font-family: $font-family1;
            font-weight: weight(bold);

            &:hover{
               opacity: 0.65;
                cursor: pointer;
            }
        }
    }

    h1{
        font-size: 24px;
        padding-top: 82px;
        padding-bottom: 23px;
        margin-top: 0;
        margin: auto;
        width: 80%;
    }

    p{
        color: inherit;
        width: 88%;
        padding-bottom: 30px;
    }

   
    
}

main{
    padding: 20px 0 190px 0;
    position: relative;
    
    .grow{
        
        h2{
            margin-top:65px ;
            font-size: 20px;
        }
        p{
            max-width: 500px;
            margin-top:10px ;
            margin-bottom: 1rem;
            letter-spacing: -0.5px;
        }

        .illustration-div{
            max-width: 500px;
            margin: auto;
        }
    }

    .flow{
        padding-top: 15px;
        h3{
            margin-top:70px ;
            font-size: 20px;
        }
        p{
            max-width: 500px;
            margin-top:15px ;
            width: 77%;
            padding-bottom: 50px;
            letter-spacing: -0.8px;
        }
        .illustration-div{
            max-width: 500px;
            margin: auto;
        }
    }

    .users{
        padding-top: 5px;
        h4{
            margin-top:65px ;
            font-size: 20px;
        }
        p{
            max-width: 500px;
            margin-top:15px ;
            width: 80%;
            margin-bottom: 1rem;
            letter-spacing: -0.3px;
        }
        .illustration-div{
            max-width: 500px;
            margin: auto;
        }
    }

    .CTA{
        width: 95%;
        max-width: 800px;
        height: auto;
        position: absolute;
        bottom: -3.5%;
        left: 50%;
        background-color: hsl(0, 0%, 100%);
        transform: translateX(-50%);
        padding: 45px 10px 40px 10px;
        border-radius: 15px;
        box-shadow: 0 3px 20px rgba($color: #000000, $alpha: 0.1);

        h5{
            width: 100%;
            font-size: 1.12rem;
            // padding-top: ;
            padding-bottom: 25px;
        }

        .smaller{
            transform: scaleX(0.85) scaleY(0.98);
            width: 80%;
            box-shadow: 0 3px 10px 0px rgba($color: #000000, $alpha: 0.3);
        }
    }
    
}

footer{
    background: $heading;
    padding: 140px 20px 20px 17px;
    
    .contact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;
        .huddle{
            width: 49%;
            max-width: 250px;
        }

        .pin{
            padding-top: 5px;
        }

        .phone{
            padding-bottom: 5px;
        }

        span{
            color: $button-text;
            text-align: left;
            font-family: $font-family1;
            padding-top: unset;
            font-size: 1rem;
        }
    }

    .about-us{
        margin-top: 60px;
        margin-bottom: 32px;
        h6{
            padding-bottom: 15px;
            font-size: 1.1rem;
        }

        ul{
            li{
                font-size: 1.1rem;
                padding-bottom: 20px;
                font-family: $font-family1;
            }
        }
    }

    .social{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 11px;
        i{
            width: 32px;
            height: 32px;
            display: grid;
            place-items: center;
            border: 1px solid $button-text;           
            border-radius: 50%;
            color: $button-text;
            &:hover{
                color: $button;
                border: 1px solid $button; 
                cursor: pointer;          
            }

        }
    }

    .copyright{
        text-align: center;
        small{
            color: $button-text;
            width: 100%;
            font-size: 10.5px;
            font-family: $font-family1;
        }
    }

    .acknowledgement{
        height: 25px;
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        color: $button-text;
        font-family: $font-family1;
        font-size: 10px;
        img{
            height: 100%;
        }
        a{
            color: $button;
            font-family: $font-family2;
            &:hover{
                text-decoration: underline;
            }
        }
    }
   
}


@media screen and (min-width:769px) {
    header{
        background: url(/images/bg-hero-desktop.svg), linear-gradient($button-text 50%,$button-text 0%);
        background-position: center 5%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 720px;
        padding: 50px 5.6%;
        margin-bottom: 20px;
    
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
    
            img{
                width: 200px;
            }
    
            .try-it-free{
                background-color: hsl(0, 0%, 100%);
                border: none;
                padding: 15px 65px;
                border-radius: 30px;
                box-shadow: 0 3px 10px 0 rgba($color: #000000, $alpha: 0.1);
                font-size: 14px;
                font-family: $font-family1;
                font-weight: weight(bold);
            }
        }

        .header-text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 500px;
            margin-top: 20px;
            .header-CTA{
                flex-basis: 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start !important;
                justify-content: flex-end;
                margin-right: 35px;
                h1{
                    font-size: 2.5em;
                    padding-top: 90px;
                    padding-bottom: 25px;
                    width: unset;
                    margin: unset;
                    text-align: left;
                    font-weight: weight(bold);
                }
            
                p{
                    color: inherit;
                    width: 100%;
                    font-size: 18px;
                    margin: unset;
                    text-align: left;
                    padding-top: 7px;
                    padding-bottom: 35px;
                }
                .bg-pink{
                    margin: unset;
                    width: 280px;
                    height: 55px;
                    display: grid;
                    place-items: center;
                    font-size: 14px;
                }
            }

            .header-illustration{
                width: auto;
                flex-basis: 55%;
                margin-top: 20px;
                .illustration{
                    width: 100%;
                   
                }
            }
        }
       
    }

    main{
        padding: 120px 0 311px 0;
        position: relative;
        .body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: auto;
            width: 85.5%;

            
        }
        
        .grow{
            flex-direction: row-reverse;
            gap: 180px;
            padding: 55px 30px 55px 9.8%;

            &_text{
                flex-basis: 44%;
                h2{
                    margin-top:55px ;
                    font-size: 28px;
                    text-align: left;
                }
                p{
                    margin-top:10px ;
                    margin-bottom: 1rem;
                    text-align: left;
                    width: 100%;
                    letter-spacing: 0;
                    font-size: 1.17rem;
                    line-height: 1.6rem;
                }
            }
            .illustration-div{
                flex-basis: 37%;
                margin-left: auto;
                width: unset;
                // margin: unset;
                .illustration{
                    padding-top:unset;
                    margin: auto;
                    width: 100%;
                }
            }
           
        }
    
        .flow{
            padding: 70px 30px 75px 9.8%;
            margin-top: unset;

            .illustration-div{
                flex-basis: 38.5%;
                width: unset;
                margin: unset;
                .illustration{
                    padding-top:unset;
                    margin: unset;
                    width: 100%;
                }
            }
           
            &_text{
                flex-basis: 50%;
                h3{
                    margin-top:60px ;
                    font-size: 28px;
                    text-align: left;
                    margin-inline: unset;
                }
                p{
                    margin-top:15px ;
                    width: unset;
                    margin-inline: unset;
                    padding-bottom: 50px;
                    text-align: left;
                    font-size: 1.23rem;
                    line-height: 1.6rem;
                    letter-spacing: 0;
                }
            }
           
        }
    
        .users{
            padding: 61px 30px 61px 9.8%;
            flex-direction: row-reverse;
            .illustration-div{
                flex-basis: 38%;
                width: unset;
                margin-top: 5px;
                .illustration{
                    padding-top:unset;
                    margin: auto;
                    width: 100%;
                }
            }
            &_text{
                flex-basis: 47%;
                h4{
                    margin-top:65px ;
                    font-size: 28px;
                    text-align: left;
                    margin-inline: unset;
                }
                p{
                    margin-top:10px ;
                    width: unset;
                    margin-bottom: 1rem;
                    text-align: left;
                    font-size: 1.15rem;
                    letter-spacing: 0;
                    line-height: 1.6rem;
                }
            }
        }
    
        .CTA{
            position: absolute;
            z-index: 5;
            bottom: -5%;
            left: 50%;
            background-color: hsl(0, 0%, 100%);
            transform: translateX(-50%);
            padding: 65px 10px 45px 10px;
        
            h5{
                width: 100%;
                font-size: 2rem;
                padding-bottom: 35px;
            }
    
            .smaller{
                padding: 25px 0;
                display: block;
                width: unset;
                max-width: 470px;
                font-size: 22.5px;
                font-family: $font-family1;
                border-radius: 50px;
                box-shadow: 0 3px 10px 0px rgba($color: #000000, $alpha: 0.3);
            }
        }
        
    }

    footer{
        background: $heading;
        padding: 13.2% 30px 40px 8.33%;
        display: grid;
        grid-template-columns: 1fr 1fr 0.8fr;
        grid-template-areas: "contact about soc";
        width: 100%;
        position: relative;
        height: auto;
        .contact{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 13px;
            grid-area: contact;
           
            .huddle{
                width: 59%;
                max-width: 240px;
                padding-bottom: 15px;
            }

            .location{
                .pin{
                    padding-top: 15px;
                }
            }
    
            .phone{
                padding-bottom: 5px;
                .pin{
                    padding-top: 10px;
                }
            }

            .mail{
                margin-top: -5px;
                .pin{
                    padding-top: 13px;
                }
            }
    
            span{
                color: $button-text;
                text-align: left;
                font-family: $font-family1;
                max-width: 350px;
                margin-top: 10px;
                line-height: 1.6rem;
                font-size: 1rem;
            }
        }
    
        .about-us{
            margin: 70px 0 20px 50px;
            grid-area: about;
            height: 100%;
            width: 100%;
    
            ul{
                height: 45%;
                max-height: 300px;
                width: 95%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                li{
                    font-size: 1.15rem;
                    padding-block: 10px;
                    a{
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                   
                }
            }
        }

        .sc{
            grid-area: soc;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-left: 60px;
            height: 225px;
            .social{
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                i{
                    width: 32px;
                    height: 32px;
                    display: grid;
                    place-items: center;
                    border: 1px solid $button-text;           
                    border-radius: 50%;
                    color: $button-text;
                    &:hover{
                        color: $button;
                        border: 1px solid $button; 
                        cursor: pointer;          
                    }
                }
            }
        
            .copyright{
                text-align: center;
                small{
                    color: $button-text;
                    width: 100%;
                    font-size: 13px;
                }
            }
        } 
        
        .acknowledgement{
            height: 30px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            color: $button-text;
            font-family: $font-family1;
            img{
                height: 100%;
            }
            a{
                color: $button;
                font-family: $font-family2;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        
    } 
}


